.home-center {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  justify-content: space-evenly;
}

.home-center > section {
  display: flex;
}

.home-leftcontent {
  position: absolute;
  left: 0;
  transform: rotateZ(90deg);
  white-space: nowrap;
  height: 600px;
  font-size: 25px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.codechef-logo {
  position: fixed;
  bottom: -50px;
  height: 200px;
  left: 30px;
}

.copy-desi {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100vw;
  flex-direction: row-reverse;
  gap: 20px;
}

.designer {
  z-index: 1;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1000px) {
  .home-center {
    flex-direction: column;
  }
  .copy-desi {
    font-size: 15px;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: calc(100vw - 40px);
    text-align: center;
  }

  .codechef-logo {
    position: relative;
    bottom: -50px;
    height: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 680px) {
  .copy-desi {
    font-size: 12px;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: calc(100vw - 40px);
  }
  .home-center > section {
    height: 50vh;
  }
}

@media screen and (max-width: 400px) {
  .home-leftcontent {
    font-size: 18px;
  }
}
