@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.right-heading{
    font-family: 'Iceberg', cursive;
}

.H1{
    font-size: 60px;
}

.H2{
    font-size: 45px;
}

.home-right{
    width: 40vw;
}

.home-right > div{
    display: flex;
    gap : 10px;
}

.home-logos{
    display: flex;
    width : 20vw;
    justify-content: space-evenly;
    padding-top: 20px;
}


.home-logos > a > img{
    height: 48px;
    width: 48px;
}
.home-logo{
    text-decoration: none;
    color : white
}

/* .home-logos-outer{
    min-width : 30vw;
    display: flex;
    justify-content: center;
} */

@media screen and (max-width: 680px) {
    .H1{
        font-size: 40px;
    }
    
    .H2{
        font-size: 25px;
    }

    .home-right > div{
        justify-content: center;
    }

    .home-logos{
        display: flex;
        width : 40vw;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .home-right{
        width: 80vw;
    }
    
}