h1{
    margin: 0;
}
.login-btn button{
    border: none;
    outline: none;
    width: 15rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.certificate-download{
    color : white;
    text-decoration: none;
    padding: 10px;
    background: green;
}